{% extends 'Login_app/base.html' %}


{% block body_block %}
      
     {% if registered %}
     
     <div class="container-fluid alert alert-success">Congratulations! Registration Successfull!</div>

     {% else %}

     <form enctype="multipart/form-data" method="POST" class="pt-4">

          {{ user_form.as_p }}
          {{ user_info_form.as_p }}
          {% csrf_token %}

          <input type="submit" value="Register" name="submit" class="btn btn-primary">

     </form>

     {% endif %}
        
{% endblock body_block %}